@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ig4t41');
  src:  url('../fonts/icomoon.eot?ig4t41#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ig4t41') format('truetype'),
    url('../fonts/icomoon.woff?ig4t41') format('woff'),
    url('../fonts/icomoon.svg?ig4t41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
  color: #1da1f2;
}
.icon-weasyl:before {
  content: "\e901";
  color: #900;
}
.icon-wikipedia:before {
  content: "\e902";
}
